.anh_post{
  width:75vh;
  height:95vh; 
  float: left; 
  position:relative;
}
.layout_phai{
  width:69vh;
  height:95vh; 
  float: left; 
  position:relative;
}
.layout_user_post{
  height: 60px; 
  border-bottom: lightgray solid 1px; 
  padding: 12px;
}
.ava_user_post{
  float:left;
  background-size:cover;
  background-position:center; 
  width: 35px; 
  border-radius:50%; 
  height:35px;
}
.name_user_post{
  margin: 0 10px;
  float:left;
  font-weight:500px;
}
.time_user_post{
  font-size: 13px;
  color: gray;
  margin: 0 10px;
  float: left;
}
.view_cmt{
  height: 60vh;
  overflow-y: scroll;
}
.layout_cmt{
  padding:10px;
  width: 100%;
  min-height: 50px;
}
.ava_user_cmt{
  margin:0 5px;
  width:35px;
  height:35px;
  border-radius:50%;
  background-size:cover;
  background-position: center;
  float:left;
}
.gop_cmt{
  float:left;
  width:57vh;
  overflow-wrap:break-word;
  margin-left: 7px;
}
.name_user_cmt{
  font-weight:500px;
  font-size:13px;
  float:left
}
.cmt_content{
  font-size:13px;
  float:left;
  overflow-wrap:break-word;
  max-width: 57vh;
  text-align: left;
  margin-left: 10px;
}
.cmt_time{
  font-size:10px;
  color:gray;
  float:left
}
.like_count {
  font-size: 14px;
  font-weight: 600;
  float: left;
  text-align: left;
  width: 100%;
}
.fa-paper-plane{
  float:left; 
  margin:10px;
  scale: 1.3;
  cursor: pointer;
  padding:2px
}
.dropdown-menu {
  position: absolute;
  display: none;
  min-width: 120px;
  padding: 5px;
  background-color: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  text-align: left;
}

.dropdown-menu.open {
  display: block;
  background-color: #EEEEEE;
}

.dropdown-item a {
  display: block;
  padding: 5px 0;
  text-decoration: none;
  color: #212529;
}

.dropdown-item:hover,
.dropdown-item:focus {
  background-color: #f8f9fa;
}

.chinhsuaa {
  position: absolute;
  right: -20px
}
.mess1 {
  width: 100%;
  height: 80px;
  float: left;
  color: black;
  transition: 0.2s;
}

.mess1:hover {
  background-color: rgb(247, 247, 247);
}

.col_left>a>.mess1.active {
  background-color: rgb(229, 228, 228)
}

.ava {
  background-size: cover;
  border-radius: 50%;
  padding: 30px;
  margin: 10px 0 0 10px;
  float: left;
  cursor: pointer;
}

.username {
  float: left;
  font-size: 14px;
  margin: 18px 0 0 10px;
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  cursor: pointer;
  font-weight: 500;
}

.mini_content {
  float: left;
  font-size: 12px;
  margin: -5px 0 0 10px;
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  color: gray;
}