.we-comet>li {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}

*,
::after,
::before {
    box-sizing: border-box;
}

.comet-avatar {
    display: table-cell;
    max-width: 7.6%;
    vertical-align: top;
    width: 7.6%;
}

.profile_image_img {
    float: left;
    background-size: cover;
    width: 35px;
    border-radius: 50%;
    height: 35px;
}

img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    border-style: none;
}

.we-comment {
    border: 1px solid #ede9e9;
    display: table-cell;
    margin-left: 20px;
    padding: 10px;
    vertical-align: top;
    position: relative;
    width: 65%;
}

.we-comment::before,
.peoples-mesg-box>ul>li p:before {
    border-bottom: 10px solid transparent;
    border-right: 11px solid #ede9e9;
    border-top: 10px solid transparent;
    left: -11px;
    top: 10px;
    position: absolute;
    content: '';
}

.coment-head {
    display: inline-block;
    width: 100%;
}

.coment-head>h5 {
    font-size: 15px;
    font-weight: 600;
    padding-bottom: 5px;
    text-transform: capitalize;
    display: inline-block;
    margin-bottom: 0;
    color: #2a2a2a;
}

.we-comment>p {
    font-size: 14px;
    line-height: 26px;
    margin-bottom: 0;
    max-width: 100%;
    margin-top: 5px;
}

p {
    font-size: 14px;
    line-height: 26px;
    color: #8c8b8b;
}

.we-comment::after,
.peoples-mesg-box>ul>li p:after {
    border-bottom: 8px solid transparent;
    border-right: 9px solid #fff;
    border-top: 8px solid transparent;
    left: -9px;
    top: 12px;
    position: absolute;
    content: '';
}