.slide-show {
    width: 75vh;
    height: 93.8vh;
    overflow: hidden;
    position: relative;
  }
  
  .list-images {
    display: flex;
    transition: 0.5s;
  }
  
  
  .btnsl {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.5s;
    cursor: pointer;
    border-radius: 50%;
    background-size: cover;
    z-index: 1;
    background-position: center;
    width: 30px;
    height: 30px;
    opacity: 0.5;
    /* trong suot */
  }
  
  
  .btn-left {
    left: 0;
    background-image: url('https://www.svgrepo.com/show/376823/chevron-left-circle.svg');
  }
  
  .btn-right {
    right: 0;
    background-image: url('https://www.svgrepo.com/show/432428/chevron-right-circle.svg');
  }
  
  .index-images {
    position: absolute;
    display: flex;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .index-item {
    /* border: 2px solid #999; */
    background-color: #999;
    padding: 3px;
    margin: 1.5px;
    border-radius: 50%;
    opacity: 0.8;
  }
  
  .active {
    background-color: white;
  }
  /* picture TCN */
  .gallery-item-type {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.5rem;
    text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.1);
  }
  
  .visually-hidden {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
  }
  
  .fa-clone {
    transform: rotateY(180deg);
  }
  
  .gallery-item {
    position: relative;
    flex: 1 0 22rem;
    color: #fff;
    cursor: pointer;
  }
  
  .gallery-item:hover .gallery-item-info,
  .gallery-item:focus .gallery-item-info {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  .gallery-item-info {
    display: none;
  }
  
  .gallery-item-info li {
    display: inline-block;
    font-size: 1.7rem;
    font-weight: 600;
  }
  
  .gallery-item-likes {
    margin-right: 2.2rem;
  }
  
  .fa-comment {
    transform: rotateY(180deg);
  }