body{
    margin:0;
}
.menu_tren{
    width:100%;
    height:8vh;
    position:fixed;
    z-index:2;
    top:0
}
.menu_tren > a >.logo{
    width:45px;
    height:45px;
    background-image: url('https://yeuchaybo.com/wp-content/uploads/2014/07/nike.jpg');
    background-size: cover;
    border-radius: 50%;
    margin:7px 0 5px 10px;
    float: left
}
.menu_tren > a >.ten_logo{
    width:fit-content;
    color:black;
    float:left;
    padding:5px;
    margin:8px;
    font-family: "Sofia", sans-serif;
    font-size: 27px;
}
.menu_tren > .layout_tim_kiem{
    width:40%;
    float: left;
    margin: 10px 0 0 20%;
    position: relative;
}
.menu_tren > .layout_tim_kiem >form > input{
    width:100%;
    height: 40px;
    outline: none;
    padding-left: 45px;
    border-radius: 20px;
    background-color: #EEEEEE;
    border: none;
}
.menu_tren > .layout_tim_kiem >form> .kinh_lup{
    top:12px;
    position: absolute;
    left:13px
}
.menu_tren > a >.mess{
    scale: 1.5;
    color: black;
    position: absolute;
    right:135px;
    top:10px;
    padding:12px;
    cursor: pointer;
}
.menu_tren > .thong_bao{
    scale: 1.5;
    position: absolute;
    right:85px;
    top:10px;
    padding:12px;
    cursor: pointer;
}
.menu_tren >.trang_ca_nhan{
    width:30px;
    height:30px;
    background-size: cover;
    border-radius: 50%;
    position: absolute;
    top:15px;
    right:35px;
    cursor: pointer;
}
#mySelect{
    width: 160px;
    background-color: rgb(252, 252, 252);
    position: absolute;
    top: 40px;
    right: -25px;
    box-shadow: 1px 2px 10px gray;
    border-radius: 10px;
}
#mySelect > a{
    padding: 12px 16px;
    display: block;
    text-decoration: none;
    color: black;
}
#mySelect > a:hover{
    background-color:lightgray;
}
.menu_trai{
    width:303px;
    height:700px;
    position:fixed;
    top:70px;
    border-right: rgb(191, 190, 190) solid 1px
}
.menu_trai > a >.layout_logo1, .layout_logo1{
    height:65px;
    position: relative;
    color: black;
}
.menu_trai > a >.layout_logo1:hover{
    background-color:#f5f5f5ee;
    border-radius: 5px;
    transform: scale(1.005);
    transition: 0.3s;
    
}
.menu_trai > a > .layout_logo1 > .logo1, .logo1{
    width: 28px;
    height: 28px;
    margin: 5.5% 0 0 7.5%;
    float: left;
    background-image: url('');
}
.menu_trai > a > .layout_logo1 > .ten_logo1, .ten_logo1{
    width:auto;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    float:left;
    padding:15px;
    margin:1%;
}
.menu_giua{
    width:67%;
    height:700px;  
    position:absolute;
    
}
.layout_menu_giua{
    position: absolute;
    right:100px;
    top:3%;
    width: 470px;
    height:900px
}
.layout_story{
    width:100%; 
    height:220px;
    overflow:hidden; 
    position: relative;
    display: flex;
}
.stories-container {
    display: flex;
    transition: 0.5s;
}
.next_left,.next_right{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    position: absolute;
    top:42%;
    z-index: 1;
    background-position: center;
    background-size: cover;
    cursor: pointer;
}
.next_right{
    right:0;
    background-image: url('https://www.svgrepo.com/show/432428/chevron-right-circle.svg');
}
.next_left{
    width: 32px;
    height: 32px;
    left:0;
    background-image: url('https://www.svgrepo.com/show/376823/chevron-left-circle.svg');
}
.story{
    width:145px;
    height: 220px;
    float:left;
    background-position: center;
    background-size: cover;
    margin: 0 1%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
}
.vien_ava_story{
    background: linear-gradient(to left, #5a29b4, #9d2872);
    border-radius: 50%;
    width: 43px;
    height: 43px;
    margin: 7px;
    float: left;
}
.ava_story{
    border-radius: 50%;
    width: 35px;
    height: 35px;
    margin: 4px;
    background-position: center;
    background-size: cover;
}
.ten_story{
    position: absolute;
    top:5px;
    left:55px;
    width: fit-content;
    height: auto;
    line-height: 1;
    margin: 10px 0;
    font-size: 12px;
    color: white; 
}
.menu_phai{
    width: 378.5px;
    height:700px;
    position:absolute;
    top:70px;
    right:0;
}
.menu_phai > .de_xuat{
    margin: 50px 0 0 5%;
    padding:10px;
    font-size: 15px;
    font-weight: 600;
    color: gray;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
#de_xuat1{
    background-image: url('https://img2.thuthuatphanmem.vn/uploads/2019/01/04/anh-gai-dep-nhat_025059644.jpg');
}
#de_xuat2{
    background-image: url('https://th.bing.com/th/id/R.d6a1cd03662f7854642a9afed8af4d88?rik=PwLxMT16lkOf8w&pid=ImgRaw&r=0');
}
.menu_phai > .layout_logo1{
    padding: 0;
    margin-left: 7%;
}
.menu_phai > .layout_logo1 > .logo1{
    border-radius: 50%;
    background-size: cover;
}
.menu_phai > div > button{
    border: none;
    background-color: transparent;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15.8px;
    padding: 10px;
    cursor: pointer;
    position: absolute;
    right:15%;
    top:10px;
}
.menu_phai > div > button:hover{
    color:#805b38;
}
.gop_2_menu{
    width: 80%;
    height: 700px;
    position: absolute;
    top:60px;
    right: 0
}
@media (max-width: 1310px) {
    .layout_tim_kiem{
        margin-left: 15%;
    }
    .menu_trai {
        width: 70px;
    }
    .menu_trai > a > .layout_logo1 >.logo1{
        width: 48px;
        height: 48px;
        padding: 10px;
        margin: 10% 15%;
    }
    .menu_trai > a > .layout_logo1 > .logo1:hover{
        border-radius: 10px;
        background-color: #EEEEEE;
        transform: scale(1.02);
        transition: 0.3s;
    }
    .menu_trai > a > .layout_logo1:hover{
        background-color: rgb(255, 255, 255);
    }
    .menu_trai > a > .layout_logo1 > .ten_logo1 {
        display: none;
    }
    .gop_2_menu{
        width: 94%;
        left: 70px;
    }
    .menu_giua{
        left: 5%;
    }
    .menu_phai{
        width: 300px;
    }
}
@media (max-width: 1120px) {
    .menu_phai{
        display: none;
    }
    .menu_giua{
        left: 17%;
    }
}
@media (max-width: 1100px) {
    .menu_giua{
        left: 17%;
    }
}
@media (max-width: 1050px) {
    .menu_giua{
        left: 19%;
    }
}
@media (max-width: 1000px) {
    .menu_giua{
        left: 21%;
    }
}
@media (max-width: 950px) {
    .menu_giua{
        left: 24%;
    }
}
@media (max-width: 900px) {
    .menu_giua{
        left: 25%;
    }
    .menu_trai{
        display: none;
    }
    .gop_2_menu{
        width: 100%;
        left: 0;
        right: 0;
    }
    .layout_tim_kiem{
        left: -10%;
    }
}
@media (max-width: 800px) {
    .menu_giua{
        left: 28%;
    }
    .layout_tim_kiem{
        left: -15%;
    }
}
@media (max-width: 700px) {
    .menu_giua{
        left: 33%;
    }
    .layout_tim_kiem{
        left: -17%;
    }
}
@media (max-width: 650px) {
    .menu_giua{
        left: 37%;
    }
    .layout_tim_kiem{
        left: -20%;
    }
}
@media (max-width: 600px) {
    .menu_giua{
        left: 43%;
    }
    .menu_tren > a > .ten_logo{
        font-size: 20px;
    }
}
@media (max-width: 550px) {
    .menu_giua{
        left: 46%;
    }
    .menu_tren > .layout_tim_kiem > input{
        display: none;
    }
    .kinh_lup{
        background-color:#EEEEEE;
        padding:7px;
        border-radius: 50%;
        margin-top:-7px;
        cursor: pointer;
        float: left;
    }
    .mess{
        margin-right:-30px
    }
    .thong_bao{
        margin-right:-25px
    }
    .trang_ca_nhan{
        margin-right:-20px
    }
    .ba_gach{
        background-image: url('https://img.icons8.com/?size=256&id=36389&format=png');
        width: 26px;
        height: 26px;
        float: left;
        background-size: cover;
        margin-top: 15px;
        cursor: pointer;
    }
}
@media (max-width: 520px) {
    .menu_giua{
        left: 54%;
    }
}
.vien {
    border-radius: 10px;
    box-shadow: 2px 2px #f2f2f2;
    width: 500px;
    height: 140px;
    margin: 5% auto;
    padding:10px;
    position: relative;
    float: left;
}
.avatar{
    width:40px;
    height:40px;
    border-radius:20px;
    background-size: cover;
}
.thanhdangbaiviet {
    height: 35px;
    border-radius: 20px;
    background-color: #EEEEEE;
    color: #808080;
    border: none;
    position: absolute;
    right:15px;
    top:12px;
    left: 60px
}
.menunho {
    padding:5px;
}
.button-menu {
    background-color: #fff; 
    color: #808080;
    border:none;
    padding: 10px 70px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 10px;
}
.button-menu:hover {
    background-color: #f2f2f2; 
}  
textarea:focus{
    outline: none;
}